<!doctype html>
<html class="no-js" lang="">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title><%= htmlWebpackPlugin.options.title %></title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
		</head>
	<body>
		<!--[if lt IE 8]>
			<div class="browserupgrade">
				<p><strong>YOUR BROWSER IS FROM ANOTHER ERA</strong></p>
				<p>he's witnessed asteroid that wiped out dinosaurs<br/>he's so ancient that he can barely render your page</p>
				<p>Please,<a href="http://browsehappy.com/">update it</a></p>
			</div>
		<![endif]-->
		<div id="app">
			<v-app
			light
			id="inspire"
				>
				<!-- <main-drawer></main-drawer> -->
				<main-toolbar></main-toolbar>
				<v-content>
					<v-container fill-height>
						<router-view></router-view>
					</v-container>
				</v-content>
				<alert-component></alert-component>
			</v-app>
		</div>
	</body>
</html>
